@import "reset";
$font-main: "Source Sans Pro", sans-serif;
$font-extra: "Montserrat", sans-serif;
$bg-color-main: #ffffff;
$color-letter: #58cadd;
$bg-color-extra: #f4f6f7;
$text-color-link: #5f727f;
$width-content: 1170px;

@mixin location($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}
@mixin dimension($width, $height) {
    width: $width;
    height: $height;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin textStyle($font-family, $font-size, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}
html,
body {
    width: 100%;
}
.wrapper,
.header,
.nav {
    width: 100%;
}
.header {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        @include dimension(100%, 5px);
        background-color: #00bcd4;
    }
    .header-top {
        margin-top: 5px;
        height: 50px;
        background-color: $bg-color-extra;
        border-bottom: 1px solid #dfe5e8;

        .header-top-content {
            @include dimension($width-content, 100%);
            margin: auto;
            display: flex;
            align-items: center;

            .phone {
                color: $text-color-link;
                @include textStyle($font-main, 14px, 600);
                flex: 1;
                position: relative;

                .phone-img {
                    width: 14px;
                }
                &:after {
                    content: "";
                    @include dimension(1px, 50px);
                    position: absolute;
                    right: 0;
                    top: -100%;
                    background-color: #dfe5e8;
                }
            }
            .social {
                flex: 2;
                position: relative;

                &:after {
                    content: "";
                    @include dimension(1px, 58px);
                    position: absolute;
                    right: 0;
                    top: -100%;
                    background-color: #dfe5e8;
                }
                .social-list {
                    list-style-type: none;
                    display: flex;
                    margin-left: -18px;
                    padding: 0px 50px;

                    li {
                        margin-left: 18px;

                        a {
                            color: $text-color-link;
                            font-size: 14px;
                        }
                    }
                }
            }
            .header-top-menu {
                display: flex;
                flex: 5;
                justify-content: space-between;

                .top-menu {
                    padding-left: 50px;

                    ul {
                        display: flex;
                        justify-content: space-between;
                        list-style-type: none;
                        font-family: $font-main;
                        font-weight: 600;
                        margin-left: -20px;

                        li {
                            margin-left: 20px;

                            a {
                                font-size: 14px;
                                text-decoration: none;
                                color: $text-color-link;

                                .fas.fa-chevron-right.icon-top-menu {
                                    font-size: 10px;
                                    font-weight: 400;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
                .btn-header-top {
                    padding: 10px 25px;
                    background-color: #494c64;
                    border-radius: 5px;
                    color: #fff;
                    @include textStyle($font-main, 14px, 600);
                    cursor: pointer;
                }
            }
        }
    }
    .header-bottom {
        height: 100px;
        background-color: #fff;

        .header-bottom-content {
            @include dimension($width-content, 100%);
            margin: auto;
            display: flex;
            align-items: center;
            .logo {
                flex: 0.5;
                display: flex;
                align-items: center;
                img {
                    margin-right: 5px;
                }
                span {
                    text-transform: uppercase;
                    @include textStyle($font-extra, 27px, bold);
                }
            }
            .header-bottom-menu {
                flex: 6;
                ul {
                    display: flex;
                    list-style-type: none;
                    justify-content: space-around;
                    padding: 0 48px;
                    li {
                        a {
                            @include textStyle($font-extra, 14px, bold);
                            color: #000;
                            text-decoration: none;
                            text-transform: uppercase;
                            padding: 8px 18px;
                            &:hover {
                                color: #00bcd4;
                            }
                        }
                        a.active {
                            border: 2px solid #000;
                        }
                    }
                }
            }
            .list-module {
                flex: 1;
                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    align-items: center;
                    .cart-item {
                        position: relative;
                        display: flex;
                        align-items: center;
                        &:before {
                            content: "2";
                            position: absolute;
                            color: #fff;
                            @include textStyle($font-extra, 14px, 500);
                            top: 50%;
                            right: 10%;
                            z-index: 999;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}
.nav {
    background-color: #e9f0ef;
    height: 200px;
    .nav-content {
        @include dimension($width-content, 100%);
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
        .nav-left {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .nav-left-top {
                margin-top: 40px;
                .woo-cart {
                    font-family: $font-extra;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 400;
                }
            }
            .nav-left-bottom {
                padding-bottom: 20px;
                padding-top: 20px;
                ul {
                    list-style-type: none;
                    display: flex;
                    justify-content: space-between;

                    li {
                        a {
                            text-decoration: none;
                            color: #00bcd4;
                            @include textStyle($font-main, 16px, 600);
                            position: relative;
                            &:hover {
                                color: #b6c2c9;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    bottom: -100%;
                                    left: 8px;
                                    width: 100%;
                                    height: 4px;
                                    background-color: #ff5252;
                                }
                            }
                        }
                        i {
                            color: #5f727f;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}
.content {
    .cart {
        .list-products-cart {
            width: $width-content;
            margin: auto;
            margin-top: 90px;
            h2 {
                font-family: $font-main;
                color: $text-color-link;
                font-size: 24px;
                span {
                    color: #42c6da;
                }
            }
            .cart-table {
                margin-top: 30px;
                .cart-table-top {
                    background-color: #b6c6c9;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    ul {
                        display: flex;
                        list-style-type: none;
                        flex: 1;
                        justify-content: space-between;
                        padding: 0 40px;
                        li {
                            font-size: 16px;
                            font-family: $font-extra;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: #ffffff;
                            margin-left: 50px;
                            padding: 0 8px;
                        }
                    }
                }
                .cart-item-product {
                    height: 100px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-right: 1px solid #dfe5e8;
                    border-bottom: 1px solid #dfe5e8;
                    border-left: 1px solid #dfe5e8;
                    .cart-item-left {
                        display: flex;
                        align-items: center;
                        flex: 1;
                        justify-content: space-evenly;
                        img.error-img {
                            width: 20px;
                            height: 20px;
                        }
                        span {
                            font-size: 16px;
                            font-family: $font-main;
                            font-weight: 600;
                            color: #26c1d7;
                            span {
                                color: #d3d9de;
                            }
                        }
                    }
                    .cart-item-right {
                        display: flex;
                        flex: 1;
                        justify-content: end;
                        ul {
                            list-style-type: none;
                            display: flex;
                            margin-right: 58px;
                            font-family: $font-main;
                            font-size: 24px;
                            li {
                                padding: 0 25px;
                                span {
                                    padding: 0 10px;
                                    i {
                                        font-size: 18px;
                                        font-weight: 500;
                                        color: #5f727f;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-update {
            width: $width-content;
            margin: auto;
            display: flex;
            align-items: center;
            height: 90px;
            border: 1px solid #dfe5e8;
            .cart-update-right {
                display: flex;
                flex: 1;
                gap: 25px;
                justify-content: flex-end;
                .btn-update-cart {
                    padding: 15px 20px;
                    border: 3px solid #00bcd4;
                    color: #fff;
                    border-radius: 5px;
                    @include textStyle($font-extra, 19px, 600);
                    text-transform: uppercase;
                    text-decoration: none;
                    background-color: #00bcd4;
                }
                .btn-check-out {
                    padding: 15px 20px;
                    border: 3px solid #393d50;
                    color: #ffff;
                    border-radius: 5px;
                    @include textStyle($font-extra, 19px, 600);
                    text-transform: uppercase;
                    text-decoration: none;
                    background-color: #393d50;
                    margin-right: 30px;
                }
            }
            .cart-update-left {
                display: flex;
                flex: 1;
                justify-content: flex-start;
                align-items: center;
                gap: 25px;
                .coupon-code {
                    margin-left: 30px;
                    .coupon-code-input {
                        color: #aebac3;
                        border: 1px solid #aebac3;
                        padding: 20px 30px;
                        font-size: 16px;
                        border-radius: 5px;
                        background-color: #f5f7f6;
                    }
                }

                .btn-apply {
                    padding: 15px 20px;
                    border: 3px solid #00bcd4;
                    color: #00bcd4;
                    border-radius: 5px;
                    @include textStyle($font-extra, 19px, 600);
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
    .cart-caculate {
        display: flex;
        width: $width-content;
        gap: 40px;
        margin: 80px auto 0 auto;
        .cart-caculate-left {
            display: flex;
            flex-direction: column;
            flex: 1;
            h1 {
                font-family: $font-extra;
                text-transform: uppercase;
                color: #504e61;
                font-weight: 500;
            }

            .country {
                padding: 10px 10px;
                margin-top: 50px;
                font-weight: 400;
                color: #bfc8cf;
                border: 1px solid #bfc8cf;
            }
            .state-postcode {
                display: flex;
                margin-top: 18px;
                gap: 20px;
                .post-zip {
                    flex: 1;
                    display: flex;
                    .post-zip-input {
                        padding: 10px 10px;
                        flex: 1;
                        font-weight: 400;
                        color: #bfc8cf;
                        border: 1px solid #bfc8cf;
                    }
                }
                .state-country {
                    flex: 1;
                    display: flex;
                    .state-country-input {
                        flex: 1;
                        padding: 10px 10px;
                        font-weight: 400;
                        color: #bfc8cf;
                        border: 1px solid #bfc8cf;
                    }
                }
            }
            .update-totals {
                margin-top: 32px;
                .btn-update-totals {
                    padding: 12px 20px;
                    border: 3px solid #00bcd4;
                    color: #00bcd4;
                    border-radius: 5px;
                    @include textStyle($font-extra, 19px, 600);
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
        .cart-caculate-right {
            display: flex;
            flex: 1;
            flex-direction: column;
            h1 {
                font-family: $font-extra;
                text-transform: uppercase;
                color: #504e61;
                font-weight: 500;
            }
        }
    }
}
