$font-main: "Source Sans Pro", sans-serif;
$font-extra: "Montserrat", sans-serif;
$bg-color-main: #ffffff;
$color-letter: #58cadd;
$bg-color-extra: #f4f6f7;
$text-color-link: #5f727f;
$width-content: 1170px;
