@import "reset";
$text-size-medium: 16px;
$text-size-small: 14px;
$color-white: #fff;
$background-footer: #6c136f;
$background-main: #cad3d3;
$color-forest: #49b33a;
$color-ocean: #368fd8;
$font-main: "Source Sans Pro Regular";
$font-extra: "Source Sans Pro Light";
@mixin location($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}
@mixin dimension($width, $height) {
    width: $width;
    height: $height;
}
html,
body {
    @include dimension(100%, 100%);
    background-color: $background-main;
}
@mixin location($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 42px;
}
@mixin header-style {
    @include dimension(362px, 272px);
    background-image: url("../images/ocean.png");
    background-size: cover;
    position: relative;
}
.header {
    @include header-style;
    &:before {
        content: "";
        background: rgba(93, 86, 86, 0.5);
        @include location(absolute, 0, 0);
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}
.header.col-second {
    background-image: url("../images/mountain.png");
    .new-content {
        background-image: url("../images/newmark.png");
        background-size: cover;
        @include dimension(45px, 45px);
        @include location(absolute, -7px, -7px);
        z-index: 10;
        font-size: $text-size-small;
        color: $color-white;
        p {
            margin-top: $text-size-small;
            font-size: 11px;
            font-weight: 600;
        }
    }
}
.header.col-third {
    background-image: url("../images/forest.png");
}
@mixin header-title-style {
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-size: 36px;
    font-family: "montserrat", sans-serif;
    width: 80%;
    z-index: 6;
    @include location(absolute, 50%, 50%);
    transform: translate(-50%, -50%);
}
.header-title {
    @include header-title-style;
    p {
        &:nth-child(1) {
            font-weight: 100;
        }
    }
    .small-title {
        font-size: $text-size-small;
        margin-top: 7px;
        margin-left: 2px;
        text-transform: none;
        color: rgb(230, 230, 230);
        padding-top: 0;
        font-weight: 300;
    }
}
.col {
    width: 362px;
    background-color: $color-white;
    font-family: $font-main;
    font-weight: 300;
    margin: 42px;
}
@mixin header-price-style {
    @include dimension(115px, 115px);
    border-radius: 50%;
    @include location(absolute, -45px, 34%);
    z-index: 5;
    background-color: $color-white;
    text-align: center;
}
.header-price {
    @include header-price-style;
    .price {
        color: $color-ocean;
        margin-top: 16px;
        font-size: 32px;
        font-family: $font-extra;
        transition: 0.5s;
    }
    .unit {
        font-size: $text-size-medium;
    }
    &:hover {
        background-color: black;
    }
    &:hover .price {
        color: #d74498;
    }
    &:hover .unit {
        color: $color-white;
    }
}
.list {
    ul {
        list-style-type: none;
        font-size: $text-size-medium;
        li {
            padding: 18px;
            &:nth-child(2n + 1) {
                background-color: #f4f6f7;
            }
        }
    }
}
.sub-title {
    padding: 26px 5px;
    font-size: $text-size-small;
    margin-top: -8px;
    .main-title {
        font-size: 24px;
        font-family: $font-extra;
    }
}
@mixin footer-link {
    display: block;
    text-transform: uppercase;
    border: 1px solid $color-ocean;
    color: $color-ocean;
    text-decoration: none;
    transition: 0.4s;
    font-size: 19px;
    font-family: $font-extra;
    padding: 16px 30px;
}
@mixin footer-link-hover {
    color: $color-white;
    background-color: $background-footer;
    border-color: $background-footer;
}
.footer {
    width: 168px;
    margin: 50px auto;
    a {
        @include footer-link;
        &:hover {
            @include footer-link-hover;
        }
    }
}
.footer.forest {
    a {
        color: $color-forest;
        border: 1px solid $color-forest;
        &:hover {
            @include footer-link-hover;
        }
    }
}
